.box.blue {
    padding: 8px;
    border: 1px solid blue;
    border-radius: 4px;
}
.box.red {
    padding: 8px;
    border: 1px solid red;
    border-radius: 4px;
}
.box.green {
    padding: 8px;
    border: 1px solid green;
    border-radius: 4px;
}
